services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_DB: parking_service
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: zaq1@WSX
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    command: server --console-address ":9001" /data/
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin12345
      MINIO_ROOT_PASSWORD: admin12345
    volumes:
      - minio_data:/data

volumes:
  postgres_data:
  minio_data: